:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-cream: #eff1e0;
    --color-cream2: #babbb2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark2);
    color: var(--color-white);
}

.img_logo_header {
    width: 45px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-dark1);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.content {
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-cream);
    transition: 1s;
    font-weight: bold;
}

.navigation_header a:hover {
    color: var(--color-white);
}

.active {
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}



.navigation_header {
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--color-dark5);
    height: 100%;
    width: 35vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
}

.content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Alinha os itens verticalmente */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    padding: 2em; /* Adiciona um preenchimento interno */
    max-width: 350px; /* Define a largura máxima do conteúdo */
    margin: 50px auto 0; /* Margem superior de 50px e centraliza horizontalmente */
    text-align: center; /* Centraliza o texto dentro do conteúdo */
    background-color: var(--color-dark5); /* Define a cor de fundo usando a variável */
    border-radius: 10px;
}



.content input[type="text"],
.content input[type="email"],
.content textarea {
    background-color: var(--color-dark3);
    /* Define uma cor de fundo para os inputs */
    color: var(--color-white);
    /* Define a cor do texto nos inputs */
    border: 1px solid var(--color-white);
    /* Adiciona uma borda branca aos inputs */
    border-radius: 5px;
    /* Adiciona um pequeno arredondamento às bordas dos inputs */
    padding: 10px;
    /* Adiciona um espaço interno aos inputs */
    margin-bottom: 15px;
    /* Adiciona espaço entre os inputs */
    width: 100%;
    /* Faz os inputs ocuparem toda a largura disponível */
    box-sizing: border-box;
    /* Faz com que o padding não aumente o tamanho total dos inputs */
}

.content input[type="text"]:focus,
.content input[type="email"]:focus,
.content textarea:focus {
    outline: none;
    /* Remove a borda de foco nos inputs */
}

.content input[type="submit"] {
    background-color: var(--color-cream);
    /* Define a cor de fundo do botão */
    color: var(--color-dark4);
    /* Define a cor do texto do botão */
    border: none;
    /* Remove a borda do botão */
    border-radius: 5px;
    /* Adiciona um pequeno arredondamento às bordas do botão */
    padding: 10px 20px;
    /* Adiciona um espaço interno ao botão */
    cursor: pointer;
    /* Muda o cursor para indicar que o botão é clicável */
    transition: background-color 0.3s;
    /* Adiciona uma transição suave para a cor de fundo do botão */
}

.content input[type="submit"]:hover {
    background-color: var(--color-cream2);
    /* Altera a cor de fundo do botão quando o mouse passa por cima */
}

.checkboxes table {
    border-collapse: collapse;
    /* remove o espaçamento entre as células da tabela */
    width: 100%;
    /* faz a tabela ocupar toda a largura disponível */
}

.checkboxes td {
    padding: 5px;
    /* adiciona um espaçamento interno nas células da tabela */
}

.checkboxes input[type="checkbox"],
.checkboxes label {
    margin-right: 10px;
    /* espaçamento entre os checkboxes e as labels */
}

.remove-button {
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 25%;
}

.menu {
    width: 80%;
    text-align: right; 
    margin: 0 auto; 
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 40px; /* Remova a barra extra aqui */
}

.content select {
    background-color: var(--color-white);
    color: var(--color-dark1);
    border: 1px solid var(--color-dark1);
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px; /* Aumenta o espaço entre o select e o próximo elemento */
    width: calc(100% - 20px);
    box-sizing: border-box;
    height: 40px;
}

.content select:focus {
    outline: none;
}
