:root {
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-cream: #eff1e0;
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-dark3);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-white);
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que o padding afete a largura total */
}

select {
    height: 100px; /* Define uma altura maior para o select */
}

/* Estilo para o botão "Criar Curso" */
input[type="submit"] {
    padding: 10px 20px; /* Adiciona espaço interno ao botão */
    background-color: #262627; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona cantos arredondados */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

/* Estilo para o botão "Criar Curso" quando o cursor passa por cima */
input[type="submit"]:hover {
    background-color: #404042; /* Cor de fundo alterada */
}
